<!doctype html>
<html>
<style>
#myCanvas {
    width: 40%;
    text-align:center;
 }
 
 canvas {
    display: inline;
 }
</style>
<title>Image Scan</title>
<head>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
        <!-- Custom fonts for this template -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script>
               
                
                </script>
</head>
<body>
    <div class="jumbotron text-center">
    <h1> Image Scanner</h1> 
    </div>
                
    <div class="container">
    <canvas id="myCanvas" width="200" height="200" style="border:1px solid" align="center"></canvas>
    
     </canvas>
    </div>
</body>
</html>